Options -MultiViews
RewriteEngine On
RewriteBase /
# Example when using on windows: /MVC/public/ 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]