Options -MultiViews
RewriteEngine On
RewriteCond %{QUERY_STRING} os_id=windows
RewriteRule . /MVC/public/index.php [L] #change based on your path if you are using windows as a server
RewriteCond %{QUERY_STRING} os_id=linux
RewriteRule . /index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]